<div class="jumbotron jumbotron-index">
  <h1 class="display-3">Bienvenue sur Pussy Cat Shop !</h1>
  <p class="lead">Trouvez votre bonheur grace à notre incroyable sélection de photo de chatons ;)</p>
  <hr class="my-4">
</div>

<h1>Découvrez nos photos</h1>

<div class="d-flex justify-content-center row">
	<%= Item.all.each do |item| %>
		<div class="card mb-3 index-card">
			<h3 class="card-header"><%= item.title %></h3>
			<div class="card-body">
				<p class="card-text">créateur:</p>
				<h6 class="card-subtitle text-muted"><%= item.price %></h6>
			</div>
			<img style="height: 200px; width: 100%; display: block;" src="https://wallpaperaccess.com/full/256042.jpg" alt="Card image" class="index-card-img">
			<div class="card-body">
				<p class="card-text"><%= item.description %></p>
			</div>
			<div class="card-body">
				<a href="#" class="card-link">Détails</a>
				<a href="#" class="card-link">Acheter</a>
			</div>
			<div class="card-footer text-muted">
				<p class="card-text">ajouté le</p>
			</div>
		</div>
	<% end %>
</div>