.container-cat-product {
  margin-top: 100px;
  padding-left: 15px;
}

.newarrival {
  background: green;
  width: 50px;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.col-md-7
{
  color: #555;
  }

.carousel-perso {
  height: 250px;
}

